<%- include('./partials/head') %>

  <body>
    <div id="main">
      <div id="languageSwitcher"
        class="cursor-pointer fixed bottom-[20px] left-[20px] z-[99] px-[10px] py-[8px] space-y-4 lang bg-white">
        <div class="md:text-[1vw] text-[3.5vw] flex items-center gap-[5px]">
          English
        </div>
        <div class="md:text-[1vw] text-[3.5vw] flex items-center gap-[5px]">
          <a href="https://iiitn-ac-in.translate.goog/?_x_tr_sl=auto&_x_tr_tl=hi&_x_tr_hl=en">Hindi</a>
        </div>
        <div class="md:text-[1vw] text-[3.5vw] flex items-center gap-[5px]">
          <a href="https://iiitn-ac-in.translate.goog/?_x_tr_sl=auto&_x_tr_tl=bn&_x_tr_hl=en">Bengali</a>
        </div>
        <div id="mainLang" class="md:text-[1vw] text-[3.5vw] flex items-center gap-[5px]" onclick="toggleLanguages()">
          Languages <i id="arrow" class="ri-arrow-up-s-line font-[18px] transition-transform"></i>
        </div>
      </div>

      <div id="page1" class="w-full h-screen">
        <%- include('./partials/nav') %>

          <div class="hero w-full h-full">
            <div
              class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[200px] h-[200px] absolute bottom-[40px] right-[50px] z-[99] text-white p-[10px]">
              <p class="md:py-4 py-2 lg:text-[16px] text-[10px]">
                We're delighted to have you here! Explore our vibrant campus, academic programs, research initiatives,
                and student life. Whether you're a prospective student, alumni, or just curious, we invite you to
                discover what makes IIIT Nagpur a hub of learning, innovation, and excellence.
              </p>
            </div>
            <div
              class="dets flex items-center justify-center w-[60px] h-[60px] rounded-full bg-[black]/90 absolute bottom-[30px] right-[40px] z-[100] text-white">
              <i class="ri-lightbulb-line bulb text-white text-[25px]"></i>
            </div>
            <img class="w-full h-full object-cover" src="../images/index/8.webp" alt="" />
          </div>
      </div>


      <div id="announcements" class="w-full pt-10 md:mb-24 mb-16">
        <h1 class="md:text-[2vw] text-[6vw] md:pl-[6vw] pl-[12vw] text-[#00457b] font-medium">Announcements</h1>
        <div class="flex md:flex-row flex-col justify-evenly w-full mx-auto md:px-12 px-2 md:my-2">
          <!-- first 2 from studentNotice -->
          <div class="ann1 md:w-[32%] px-2 w-full relative">
            <% studentNotice.slice(0,2).forEach(function(item){ %>
              <div class="flex items-center py-2 md:gap-4 gap-2">
                <i class="ri-arrow-right-s-fill md:text-[2vw] text-[6vw] text-[#f26e32]"></i>
                <a href="<%= item.link %>" class="md:text-[1.2vw] text-[4.5vw]" target="_blank">
                  <%= item.title %>
                </a>
              </div>
              <% }) %>
          </div>
          <!-- next 2 from studentNotice -->
          <div class="ann1 md:w-[32%] px-2 w-full relative">
            <% studentNotice.slice(2,4).forEach(function(item){ %>
              <div class="flex items-center py-2 md:gap-4 gap-2">
                <i class="ri-arrow-right-s-fill md:text-[2vw] text-[6vw] text-[#f26e32]"></i>
                <a href="<%= item.link %>" class="md:text-[1.2vw] text-[4.5vw]" target="_blank">
                  <%= item.title %>
                </a>
              </div>
              <% }) %>
          </div>
          <!-- last 2 from facultyNotice -->
          <div class=" md:w-[32%] px-2 w-full relative">
            <% facultyNotice.slice(0,2).forEach(function(item){ %>
              <div class="flex items-center py-2 md:gap-4 gap-2">
                <i class="ri-arrow-right-s-fill md:text-[2vw] text-[6vw] text-[#f26e32]"></i>
                <a href="<%= item.link %>" class="md:text-[1.2vw] text-[4.5vw]" target="_blank">
                  <%= item.title %>
                </a>
              </div>
              <% }) %>
          </div>
        </div>

        <div class="flex justify-center my-2">
          <a href="/readMore">
            <button
            class="px-4 py-2 text-[#00457b] bg-white font-semibold rounded-lg border-2 border-[#00457b] hover:bg-[#003366] hover:scale-105 hover:text-white transition flex items-center gap-2 lg:text-[1vw] md:text-[1.8vw] text-[4vw]">
            Read More<i class="ri-arrow-right-line"></i>
          </button>
          </a>
        </div>
      </div>

      <div id="page3" class="page2b md:px-8 px-4  pb-4">
        <h1 class="main font-bold text-[#00457b] text-center lg:text-[2.5vw] md:text-[3vw] text-[5vw] mb-2">
          STATS & FIGURES
        </h1>
        <div class="container w-full flex justify-between items-center">
          <div class="tab text-center">
            <h1 class="num text-[#f26e32] font-bold text-[2vw]" data-target="2">
              0
            </h1>
            <h1 class="desc text-[#00457b] lg:text-[1.5vw] text-[2vw] font-semibold">
              DEPARTMENTS
            </h1>
          </div>
          <div class="tab text-center">
            <h1 class="num text-[#f26e32] font-bold text-[2vw]" data-target="1500">
              0
            </h1>
            <h1 class="desc text-[#00457b] lg:text-[1.5vw] text-[2vw] font-semibold">
              STUDENTS
            </h1>
          </div>
          <div class="tab text-center">
            <h1 class="num text-[#f26e32] font-bold text-[2vw]" data-target="50">
              0
            </h1>
            <h1 class="desc text-[#00457b] lg:text-[1.5vw] text-[2vw] font-semibold">
              FACULTIES
            </h1>
          </div>
          <div class="tab text-center">
            <h1 class="num text-[#f26e32] font-bold text-[2vw]" data-target="23">
              0
            </h1>
            <h1 class="desc text-[#00457b] lg:text-[1.5vw] text-[2vw] font-semibold">
              PUBLICATIONS
            </h1>
          </div>
          <div class="tab text-center">
            <h1 class="num text-[#f26e32] font-bold text-[2vw]" data-target="13">
              0
            </h1>
            <h1 class="desc text-[#00457b] lg:text-[1.5vw] text-[2vw] font-semibold">
              PATENTS
            </h1>
          </div>
        </div>
      </div>

      <div id="page4" class="w-full h-fit md:py-24 py-8 lg:pb-20">
        <h1
          class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 pb-5">
          Campus Life
        </h1>
        <div class="lg:w-[90vw] lg:h-[90vh] w-[95%] h-[50%] mx-auto">
          <div class="swiper mySwiper5 relative">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div
                  class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
                  <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
                    Library : Our library houses an extensive collection of books, research papers, and academic
                    journals, providing students with access to valuable resources for their studies. The serene
                    environment encourages focused reading and research.
                  </p>
                </div>
                <div
                  class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
                  <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
                </div>
                <img class="w-full h-full object-fit" src="../images/index/IIIT13.webp" alt="" />
              </div>
              <div class="swiper-slide">
                <div
                  class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
                  <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
                    Electronics Lab : Our well-furnished electronics lab provides students with all necessary
                    components, oscilloscopes, circuit boards, and even a 3D printer for innovation and experimentation
                    in electronics and robotics.

                  </p>
                </div>
                <div
                  class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
                  <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
                </div>
                <img class="w-full h-full object-fit" src="../images/index/IIIT3.webp" alt="" loading="lazy" />
              </div>
              <div class="swiper-slide">
                <div
                  class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
                  <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
                    Reading Room : The dedicated reading room offers a quiet and comfortable space for students to
                    concentrate on their studies. With ample seating and proper lighting, it is an ideal place for
                    uninterrupted learning.

                  </p>
                </div>
                <div
                  class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
                  <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
                </div>
                <img class="w-full h-full object-fit" src="../images/index/IIIT14.webp" alt="" loading="lazy" />
              </div>
              <div class="swiper-slide">
                <div
                  class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
                  <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
                    Computer Lab : The computer lab is equipped with high-performance systems, advanced software, and
                    high-speed internet. It ensures students get hands-on experience with the latest technologies and
                    programming tools.

                  </p>
                </div>
                <div
                  class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
                  <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
                </div>
                <img class="w-full h-full object-fit" src="../images/index/IIIT18.webp" alt="" loading="lazy" />
              </div>
              <!-- <div class="swiper-slide">
              <div
                class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]"
              >
                <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
                  Gym : Our fully equipped gym features modern fitness machines and free weights, allowing students to maintain a healthy lifestyle. It provides a great space for exercise and relaxation after a long day of studies.
                   
                </p>
              </div>
              <div
                class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white"
              >
                <i
                  class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"
                ></i>
              </div>
              <img
                class="w-full h-full object-fit"
                src="../images/index/IIIT4.jpg"
                alt=""
                loading="lazy"
              />
            </div> -->
              <div class="swiper-slide">
                <div
                  class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
                  <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
                    Indoor Games : Students can relax and socialize in the indoor games area, which includes facilities
                    for carrom, table tennis, and other recreational activities, fostering a balance between academics
                    and leisure.

                  </p>
                </div>
                <div
                  class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
                  <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
                </div>
                <img class="w-full h-full object-fit" src="../images/index/IIIT22.webp" alt="" loading="lazy" />
              </div>
              <div class="swiper-slide">
                <div
                  class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
                  <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
                    Badminton Court : The dedicated badminton court offers students a chance to engage in competitive
                    and recreational play, promoting physical fitness and sportsmanship on campus.

                  </p>
                </div>
                <div
                  class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
                  <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
                </div>
                <img class="w-full h-full object-fit" src="../images/index/IIIT21.webp" alt="" loading="lazy" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>

      <div id="page6" class="w-full min-h-screen bg-white lg:pb-48 md:pb-30 py-10 px-6 ">
        <h1
          class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 pb-5 uppercase">
          IIITN Highlights
        </h1>

        <div class="md:w-[75vw] md:h-[60vw] h-full mx-auto flex gap-4 flex-col">

          <div class="rounded-[2vw] md:w-full w-[70%] mx-auto h-[70%] gap-4 flex md:flex-row flex-col">

            <div
              class="glow rounded-[2vw] bg-white  h-full md:w-[30%] w-full  border-[1px] border-[#00457b] overflow-hidden relative ">
              <div
                class="text-white h-fit px-6 absolute z-[99] lg:top-18 lg:-left-14 md:top-8 md:-left-8 -left-16 top-8 bg-[#00457b] w-full -rotate-38">
                <h1 class=" py-[2px] text-center font-bold lg:text-[1.5vw] md:text-[1.48vw] text-[3vw]">Global
                  Partnerships</h1>
              </div>
              <img class="cursor-pointer h-fit w-full object-contain lg:pt-8 md:pt-8 lg:pb-10"
                src="../images/index/vector1.avif" alt="" />
              <p class="px-2 text-[#00457b] text-center lg:text-[1.2vw] md:text-[1vw] hidden md:block">"Connecting with
                institutions worldwide, we foster research collaborations and academic exchanges that push the
                boundaries of innovation and knowledge. Our global network opens doors to new opportunities for students
                and faculty alike!!!"</p>
            </div>
            <div class=" rounded-[2vw] h-full md:w-[70%] w-full gap-4 flex flex-col">
              <div
                class="glow bg-white rounded-[2vw] w-full h-[50%]  border-[1px] border-[#00457b] overflow-hidden relative flex justify-start">
                <div
                  class="text-white h-fit px-6 absolute z-[99] lg:top-10 lg:-left-74  md:top-6 md:-left-34 -left-12 top-6 bg-[#00457b] w-full -rotate-38">
                  <h1 class=" py-[2px] text-center font-bold md:text-[1.5vw] text-[3.5vw] -translate-x-4">Photo Gallery
                  </h1>
                </div>
                <img class="cursor-pointer h-full w-fit object-contain" src="../images/index/vector2.avif" alt="" />
                <p class="px-2 text-[#00457b] w-[60%] mx-auto h-fit my-auto text-[1.2vw]  hidden md:block">"Capture the
                  spirit of our institution through moments that inspire! Explore a visual journey of events,
                  achievements, and campus life, showcasing the energy and excellence that define us!!!"</p>
              </div>
              <div class=" rounded-[2vw] gap-4 flex md:flex-row flex-col w-full h-[50%]">
                <div
                  class="glow rounded-[2vw] h-full md:w-[50%] w-full border-[1px] border-[#00457b] overflow-hidden relative  relative bg-white">
                  <div
                    class="text-white h-fit px-6 absolute z-[99] lg:top-12 lg:-left-24 md:top-4 md:-left-10 -left-10 top-6 bg-[#00457b] w-full -rotate-38">
                    <h1 class=" py-[2px] text-center font-bold md:text-[1.3vw] text-[3.5vw] -translate-x-4">Events &
                      Training</h1>
                  </div>
                  <img class="cursor-pointer h-full w-full object-contain" src="../images/index/vector3.avif" alt="" />

                </div>
                <div
                  class="glow rounded-[2vw] h-full md:w-[50%] w-full   border-[1px] border-[#00457b] overflow-hidden relative">
                  <div
                    class="text-white h-fit px-6 absolute z-[99] lg:top-10 lg:-left-30 md:top-6 md:-left-14 -left-16 top-6 bg-[#00457b] w-full -rotate-38">
                    <h1 class=" py-[2px] text-center font-bold md:text-[1.5vw] text-[3.5vw] ">Student Club</h1>
                  </div>
                  <img class="cursor-pointer h-full w-full object-c" src="../images/index/vector4.avif" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class=" rounded-[2vw] gap-4 flex md:flex-row flex-col md:h-[30%] h-fit md:w-full w-[70%] mx-auto">
            <div
              class="glow rounded-[2vw] md:w-[65%] w-full  border-[1px] border-[#00457b] overflow-hidden relative flex justify-start bg-white">
              <div
                class="text-white h-fit px-6 absolute z-[99] lg:top-14 lg:-left-70 md:top-6 md:-left-36 -left-16 top-6  bg-[#00457b] w-full -rotate-38">
                <h1 class=" py-[2px] text-center font-bold  md:text-[1.3vw] text-[3.5vw]">Student Blogs</h1>
              </div>
              <img class="cursor-pointer h-full w-fit object-contain md:pl-8" src="../images/index/vector5.avif"
                alt="" />
              <p class="px-2 text-[#00457b] w-[60%] mx-auto h-fit my-auto text-[1.2vw] hidden md:block">"A space for
                students to voice their ideas, share experiences, and showcase their achievements. Explore insightful
                perspectives and creative expressions from our vibrant student community!!!"</p>
            </div>
            <div class="glow rounded-[2vw] md:w-[35%] w-full  border-[1px] border-[#00457b] overflow-hidden relative">
              <div
                class=" text-white h-fit px-6 absolute z-[99] lg:top-10 lg:-left-30 md:top-4 md:-left-16 -left-16 top-6 bg-[#00457b] w-full -rotate-38">
                <h1 class=" py-[2px] text-center font-bold md:text-[1.8vw] text-[3.5vw]">Clubs</h1>
              </div>
              <img class="cursor-pointer h-full w-full object-cover" src="../images/index/vector6.avif" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div id="page7" class="w-full h-full  lg:pb-24 md:pb-16 pb-10">
      <div class="page7b">
        <h1
        class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 md:pb-5 uppercase">
        Research</h1>
      <p class="text-center lg:text-[1.5vw] md:text-[2vw] text-[3vw] leading-none px-4 mb-10">
        Advancing discoveries that shape our world, well-being, and knowledge.
      </p>
      </div>

        <div
          class="flex md:flex-row flex-col justify-evenly border-b-2 border-t-2 border-black w-[90%] mx-auto py-10 my-10">
          <div class="text-center pb-8">
            <h1 class="text-[#f26e32] font-bold md:text-[2vw] text-[6vw]">15 Institution</h1>
            <p class="font-regular md:text-[1.3vw] text-[4.5vw]">
              cross disciplinary boundaries
            </p>
          </div>
          <div class="text-center pb-8">
            <h1 class="text-[#f26e32] font-bold md:text-[2vw] text-[6vw]">15 Institution</h1>
            <p class="font-regular md:text-[1.3vw] text-[4.5vw]">
              cross disciplinary boundaries
            </p>
          </div>
          <div class="text-center pb-8">
            <h1 class="text-[#f26e32] font-bold md:text-[2vw] text-[6vw]">15 Institution</h1>
            <p class="font-regular md:text-[1.3vw] text-[4.5vw]">
              cross disciplinary boundaries
            </p>
          </div>
        </div>
        <div class="swiper mySwiper6">
          <div class="swiper-wrapper">
            <% research.forEach(function(item) { %>
              <div class="swiper-slide">
                <div class="w-full h-full mb-10 rounded-md overflow-hidden px-2">
                  <div class="bg-zinc-200 w-full md:h-64 h-24">
                    <img src="<%= item.image %>" alt="<%= item.title %>" class="w-full h-full object-cover" />
                  </div>
                  <div class="w-full h-fit">
                    <h1 class="font-bold pt-4 pb-2 md:text-[1.6vw] text-[3.5vw] leading-none">
                      <%= item.title %>
                    </h1>
                    <p class="md:text-[1.2vw] text-[3vw] leading-none md:pb-6 pb-2">
                      <%= item.description %>
                    </p>
                    <p class="text-blue-500 md:text-[1.2vw] text-[3vw]">
                      <a href="<%= item.link %>" target="_blank">checkout</a>
                    </p>
                  </div>
                </div>
              </div>
              <% }) %>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="flex justify-center my-2">
          <button
            class="px-4 py-2 text-[#00457b] bg-white font-semibold rounded-lg border-2 border-[#00457b] hover:bg-[#003366] hover:scale-105 hover:text-white transition flex items-center gap-2 lg:text-[1vw] md:text-[1.8vw] text-[4vw]">
            Read More<i class="ri-arrow-right-line"></i>
          </button>
        </div>
      </div>

      <div id="page8" class="page6b w-full lg:mb-30 mb-10">
        <h1 class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] uppercase pt-2">
          Placements at Campus
        </h1>
        <p class="text-center lg:text-[1vw] md:text-[2vw] text-[3vw] leading-none px-4 mb-10">
          About or Nearly 200 students from the campus sit for placements every
          semester, of these almost 100% succeed in securing a job.
        </p>
        <div class="marquee-container overflow-hidden w-full">
          <div class="marquee flex mb-10 flex lg:w-[200%] md:w-[300%] w-[600%] justify-evenly whitespace-nowrap">
            <div class="marquee-content flex justify-evenly w-full">
              <img class="h-12 object-contain" src="../images/logos/Accenture-Logo-3969515967.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Byju's_logo.svg.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Infosys_logo.svg.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Cisco-logo.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/nvidia-logo-vert.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Zscaler-Logo.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Network-18-logo.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Tata_Consultancy_Services_Logo.svg.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Gold_Intuit.jpg" alt="" />
            </div>

            <div class="marquee-content flex justify-evenly w-full">
              <img class="h-12 object-contain" src="../images/logos/Accenture-Logo-3969515967.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Byju's_logo.svg.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Infosys_logo.svg.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Cisco-logo.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/nvidia-logo-vert.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Zscaler-Logo.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Network-18-logo.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Tata_Consultancy_Services_Logo.svg.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Gold_Intuit.jpg" alt="" />
            </div>
          </div>
          <div class="marquee2 flex lg:w-[200%] md:w-[300%] w-[600%] justify-evenly whitespace-nowrap">
            <div class="marquee-content flex justify-evenly w-full">
              <img class="h-12 object-contain" src="../images/logos/Accenture-Logo-3969515967.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Byju's_logo.svg.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Infosys_logo.svg.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Cisco-logo.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/nvidia-logo-vert.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Zscaler-Logo.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Network-18-logo.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Tata_Consultancy_Services_Logo.svg.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Gold_Intuit.jpg" alt="" />
            </div>

            <div class="marquee-content flex justify-evenly w-full">
              <img class="h-12 object-contain" src="../images/logos/Accenture-Logo-3969515967.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Byju's_logo.svg.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Infosys_logo.svg.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Cisco-logo.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/nvidia-logo-vert.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Zscaler-Logo.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Network-18-logo.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Tata_Consultancy_Services_Logo.svg.png" alt="" />
              <img class="h-12 object-contain" src="../images/logos/Gold_Intuit.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div id="page9" class="w-full px-4 mb-20">
        <h1
          class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 pb-5">
          NOTIFICATION
        </h1>

        <div class="swiper mySwiper4">
          <div class="swiper-wrapper">
            <% notification.forEach(notification=> { %>
              <div class="swiper-slide">
                <div class="bg-white w-full h-full mb-10 overflow-hidden rounded-md event-box">
                  <div class="w-full h-72">
                    <img class="w-full h-full object-cover" src="<%= notification.image %>" alt="Notification Image" />
                  </div>
                  <h1 class="text-[#00457b] font-semibold lg:text-[1.2vw] md:text-[2vw] text-[5vw] pt-2">
                    <%= notification.title %>
                  </h1>
                  <h1 class="px-4 text-white">
                    <%= notification.date %>
                  </h1>
                  <% if (notification.link) { %>
                    <div class=" pb-2">
                      <a href="<%= notification.link %>" target="_blank" class="text-blue-500 hover:underline">
                        Read Full Notification
                      </a>
                    </div>
                    <% } %>
                </div>
              </div>
              <% }); %>
          </div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="flex justify-center my-2">
          <a href="/readMore"><button
              class="px-4 py-2 text-[#00457b] bg-white font-semibold rounded-lg border-2 border-[#00457b] hover:bg-[#003366] hover:scale-105 hover:text-white transition flex items-center gap-2 lg:text-[1vw] md:text-[1.8vw] text-[4vw]">
              Read More<i class="ri-arrow-right-line"></i>
            </button></a>
        </div>
      </div>

      <div id="page10" class="w-full mb-20">
        <h1
          class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 pb-5">
          OUR PARTNERS
        </h1>
        <div class="flex md:flex-row flex-col items-center justify-center gap-4">
          <img class="w-50 object-fit translate-y-5 drop-shadow-2xl" src="../images/logos/unnamed-removebg-preview.png"
            alt="" />
          <img class="w-50 object-fit drop-shadow-2xl"
            src="../images/logos/eba0b3f922fd6ab7e48e4ca07e727252-removebg-preview.png" alt="" />
          <img class="w-84 object-fit drop-shadow-2xl" src="../images/logos/Tata_Consultancy_Services_Logo.svg.png"
            alt="" />
        </div>
      </div>

      <div id="page11" class="w-full h-full px-4">
        <h1
          class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 pb-10">
          STUDENT'S TESTIMONIAL
        </h1>

        <div class="swiper mySwiper2">
          <div class="swiper-wrapper">
            <% studentTestimonial.forEach(testimonial=> { %>
              <div class="swiper-slide">
                <div class="bg-zinc-200 w-full h-full flex items-center justify-evenly mb-10 rounded-md px-2">
                  <div class="w-16 h-16 rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="  <%= testimonial.image %>" alt="" />
                  </div>
                  <div class="py-10 w-[75%]">
                    <h1 class="lg:text-[2vw] md:text-[2.5vw] text-[4vw] leading-none font-bold">
                      <%= testimonial.name %>
                    </h1>
                    <p class="lg:text-[1vw] md:text-[1.6vw] text-[3vw] leading-none">
                      <%= testimonial.content %>
                    </p>
                    <% if (testimonial.link) { %>
                      <a href="<%= testimonial.link %>" target="_blank" class="text-blue-600 hover:underline">
                        Read Full Testimonial
                      </a>
                      <% } %>
                  </div>
                </div>
              </div>
              <% }); %>
          </div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="flex justify-center my-2">
          <a href="testimonials-page.html"><button
              class="px-4 py-2 text-[#00457b] bg-white font-semibold rounded-lg border-2 border-[#00457b] hover:bg-[#003366] hover:scale-105 hover:text-white transition flex items-center gap-2 lg:text-[1vw] md:text-[1.8vw] text-[4vw]">
              Read More<i class="ri-arrow-right-line"></i>
            </button></a>
        </div>
      </div>

   

    <%- include('./partials/footer') %>
      </div>
  </body>

  <%- include('./partials/tail') %>